<div class="container">
    <div class="info-block">
        <img src="images/image-008.jpg" alt="Latest Trends">
        <div class="text-block">
            <div class="section-header">
                <h3 class="section-header__title">Meet Our Team</h3>
                <p class="section-header__description">Houseplant Enthusiasts</p>
            </div>
            <p>We are passionate about bringing nature into your home.</p>
        </div>

    </div>
    <div class="buttons">
        <button class="button">Learn More</button>
    </div>
</div>