<div class="container">
    <section class="content-block">
        <div class="content-block__image">
            <img src="images/image-007.jpg" alt="Latest Trends">
        </div>
        <div class="content-block__info">
            <div class="section-header">
                <h2 class="section-header__title">Latest Trends</h2>
                <p class="section-header__description">Discover what's new in plant care.</p>
            </div>
            
            <ul class="trends__list">
                <li>
                    <a href="#">
                        <div class="trends__icon">
                            <img src="images/icon-001.png" alt="Icon 1">
                        </div>

                        <div class="trends__text">
                            <h4>Jungle Vibes</h4>
                            <p>Create an indoor jungle</p>
                        </div>

                        <div class="trends__text--right">
                            <p>
                                Check out our collection of tropical houseplants.
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="trends__icon">
                            <img src="images/icon-002.png" alt="Icon 2">
                        </div>

                        <div class="trends__text">
                            <h4>Propagation Tips</h4>
                        </div>
                        
                        <div class="trends__text--right">
                            <p>
                                Learn how to propagate your favorite plants.
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="trends__icon">
                            <img src="images/icon-003.png" alt="Icon 3">
                        </div>
                        
                        <div class="trends__text">
                            <h4>Colorful Blooms</h4>
                            <p>Brighten up your space</p>
                        </div>
                        <div class="trends__text--right">
                            <p>
                                Explore our flowering plants collection.
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>